<nav class="edume-nav">
    <ul>
        <li><a href="{{ config.wwwroot }}/">Home</a></li>
        <li><a href="{{ config.wwwroot }}/course/">Courses</a></li>
        <li><a href="{{ config.wwwroot }}/my/">Dashboard</a></li>
        <li><a href="{{ config.wwwroot }}/calendar/view.php">Calendar</a></li>
        <li><a href="{{ config.wwwroot }}/user/profile.php">Profile</a></li>
    </ul>
</nav>
